
<div class="row border-bottom">
    <nav class="navbar navbar-static-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#">
                @*<div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>*@
            </form>
        </div>
        @*@Html.Partial("_LoginPartial")*@
        <ul class="nav navbar-top-links navbar-right">
            <li><a href="~/Home/Help"> <i class="fa fa-support"></i> Help/About </a></li>
            <li>
                <a href="~/Account/Logout">
                    <i class="fa fa-sign-in"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>