
<div class="modal fade bs-example-modal-lg activitymodal" id="activitymodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" style="width:70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title titlemodal" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                    Activity 
                </h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <a class="btn btn-success pull-right " href="#" style="margin-top:-75px;" id="printactivity"> <i class="fa fa-download"> </i> Export </a>

                        <table id="viewlog" class="table table-striped col-md-6">
                            <thead>
                                <tr>
                                    <th style="width:50%; ">Description</th>
                                    <th style="width:30%;text-align:center">Date</th>
                                    <th style="width:15%"> Created By </th>
                                </tr>
                            </thead>
                            <tbody id="hractivitybody"></tbody>
                        </table>
                    </div>
                    <div class="col-md-12" style="text-align:center">
                        <h2> Signature Meta Data </h2>
                        <br />
                        <table id="signaturelog" class="table table-striped col-md-6">
                            <thead>
                                <tr>
                                    <th style="width:15%"> Type </th>
                                    <th style="width:10%">Ip Address</th>
                                    <th style="width:50%;text-align:center">Browser </th>
                                    <th style="width:25%;text-align:center"> Date Time </th>
                                </tr>
                            </thead>
                            <tbody id="hrsignmetadata"></tbody>
                        </table>
                    </div>

                    <div class="col-md-12 rejectionblock" style="text-align:center; display:none">
                        <h2> Rejection  </h2>
                        <br />
                        <table id="rejectionlog" class="table table-striped col-md-6">
                            <thead>
                                <tr>
                                    <th style="width:15%"> Rejected By </th>                                 
                                    <th style="width:60%;text-align:center">Reason </th>
                                    <th style="width:25%;text-align:center"> Date Time </th>
                                </tr>
                            </thead>
                            <tbody id="rjmetadata"></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>