

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opening in a new window </title>
</head>
<body>
    <div>
        <img src="~/carroll.portals/img/logo.png" />
        <h1 id="msg">This browser is not supported at this time. Please open this site in Google Chrome or Safari. </h1>
       
    </div>
   
</body>
</html>
