@{
    ViewBag.Title = "Mileage Log Reimbursement Instructions";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb" style="padding: 8px 15px;">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>

            <li class="active">
                <strong> Mileage Log Reimbursement Instructions </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<style type="text/css">

    ul.instructionul li {
        padding-bottom: 10px;
        font-size: 17px;
        font-weight: bolder;
        color: black;
    }

</style>

<div class="RowsContatiner animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="background:url('/img/expensereport-min.jpg');background-size: cover;padding: 240px 15px 7px;">

                <h1 style="padding-top:5px;color:white;text-transform:uppercase;"> <b>  Instructions </b></h1>

            </div>
            <div class="ibox-content" style="padding-top:40px;">
                <div class="col-lg-12" style="text-align:center;">
                    <img src="/img/requistionrequestheader.jpg" />
                    <h1 style="color:black"> <b> Mileage Log Reimbursement Instructions  </b></h1>
                </div>
                <div class="col-lg-12">
                    <ul style="list-style:none; margin-top:40px;" class="instructionul">
                        <li> 1. Always insure your are using the most current Mileage Log that is posted in Carroll University. Rate do change, and you need to always be using the current GSA rate.</li>
                        <li> 2. When traveling for business leaving from your home to a business destination, the reimbursable mileage is the total miles less the mileage for your normal commute. Starting point is always your office address unless you begin a business trip NOT during a regularly scheduled work week (i.e Saturday) In the case only, mileage from the employee's residence will be reimbursed.  </li>
                        <li> 3. Insure each column is filled out completely with Date, Property Code (or CMG) who should be paying for the reimbursement, Destination, Purpose and total number of miles. Details of "purpose"  for trip are critical. Insure you use as much detail as possible of why you had to travel there. Example s are: "Needed office supplyes not able to order online", "airport to pick up coworker (name)" etc.</li>
                        <li> 4. Each logged trip requires either Google Maps or MapQuest backup in PDF This will need to clearly show total miles driven, the addresses of the origin and destination and either the map or step-bystep directions. It does not need both. If you use Google, you can print main page and use that as in exammple on second page.</li>
                        <li> 5. Mileage log submissions hsould being and end in the same month. Submit your completed package to <a href="mailto:Reimbursements@carrollmg.com">Reimbursements@carrollmg.com </a> AND Cc you supervisor for electronic approval. Mileage that is submitted and over 60 days old requires additional supervisor approval.</li>
                        <li> 6. Mileage reimbursements are paid within 2 weeks of receiving supervisors' approval and the checks are always mailed to the employee's home office/leasing office. </li>
                    </ul>

                    <br />

                    <p>If you have any other questions regarding this process, please reach out to: <a href="mailto:Reimbursements@carrollmg.com"> Reimbursements@carrollmg.com </a>   </p>

                    <img src="~/img/carrol1.png" />

                </div>
            </div>
        </div>
    </div>

</div>
