@{
    ViewBag.Title = "Help Page";
}

@section Styles
{

    <style>
        table th, table td {
            text-align: left !important;
        }

        li{
            list-style:none;
            margin-bottom:10px;
        }

        .romnum {
            margin-right:10px;
            font-size:15px;;
            font-weight:bold;
        }

        ul li:first-child
        {
            margin-top:10px;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h1 id="heading"> Help/About </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index"> Home </a>
            </li>
            <li class="breadcrumb-item">
                <a href="~/Home/IncidentDashboard"> Incident Dashboard </a>
            </li>
            <li class="breadcrumb-item active">
                <strong> Help </strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>All accidents are to be recorded in an Incident Report even if assumed to be of minor severity within 24 hours of the occurrence. All accidents are important, no matter how minor it may seem. If the individual(s) involved does not wish to file a police report, the Property Manager must take initiative and do so. All details documented must be recorded and retained.</p>
                            <p>Photographs should be taken as additional documentation for all incidents whenever possible. All photographs and supportive documents from local authorities will be uploaded on the incident report portal and submitted along with the actual incident report.</p>
                            <br />
                            <ul>
                                <li>  <span class="romnum"> i. </span>	EMPLOYEES ARE TO COMPLETE INCIDENT REPORTS WHEN: <b> EVERY TIME </b> an incident occurs on the community, an Incident Report must be filled out. Examples of scenarios requiring an Incident Report to be rendered are as follows: personal injury, death, fire, burglary, assault, property damage, storm damage, insect damage or any situation of similar magnitude. Incident Reports must be prepared for all happenings, regardless of doubt. </li>
                                <li> <span class="romnum"> ii. </span>	HOW THE EMPLOYEE SHOULD REPSOND: All employees should maintain composure and act in a professional manner in such circumstances. Suggested practices to moderate a stressful situation are as follows: speak in a normal tone/do not raise the volume of your voice, think logically when evaluating the plan of action and do not act on impulse. All accidents are important, no matter how minor it may seem. If the individual(s) involved does not wish to file a police report, the Property Manager must take initiative and do so. All details documented must be recorded and retained.</li>
                            </ul>

                            <br />
                            <h2> <b>  II.	SPECIFIC EMERGENCIES </b> </h2>
                            <ul>
                                <li> <span class="romnum"> i. </span>	DISCOVERING A DEATH: In the case of a death on the premises, the employee(s) are not to make any alterations to the scene and must immediately call the proper authorities as well as seal off the unit so that no one may pass. Only the police officers assigned to the case are to be granted access to the deceased residence. Keep in mind a court order is required before anyone (inclusive of family members) is allowed access to the apartment.</li>
                                <li>
                                    <span class="romnum">
                                        ii. </span> 	EVENT OF THEFT: In the case of theft either in the leasing office or of a resident’s personal property, the protocol as outlined below must be followed:

                                        <ul>

                                            <li> 1.	Notify the police </li>
                                            <li> 2.	Request copy of the police report </li>
                                            <li> 3.	Contact the Regional Manager </li>
                                            <li> 4.	Notify residents of the occurrence (same day) </li>
                                            <li> 5.	If needed, you may request a sample letter to send the resident from the Property Manager </li>

                                        </ul>

</li>
                                <li>
                                    <span class="romnum">
                                        iii. </span>	SUSPECTED DEATH: The Property Manager and Assistant Manager should act jointly as follows:
                                        <ul>

                                            <li> 1.	Attempt to contact the resident by phone </li>
                                            <li>2.	If failed to reach resident, both managers should go to the apartment in effort to reach the resident </li>
                                            <li> 3.	If no answer, the Property Manager should return to the office (with keys in hand) to call the police while the Assistant Manager is to wait outside the unit </li>
                                            <li> 4.	When the police have concluded the investigation, locks are to be changed on the apartment </li>
                                            <li> 5.	The police will notify the next of kin and the estate will be responsible for the payment of rent </li>
                                            <li> 6.	The Incident Reporting procedure should be adhered to for this type of occurrence</li>
                                        </ul>

                                </li>
                                <li>  <span class="romnum"> iv. </span>	EVENT OF MURDER: All should abide by the procedures as outlined above. The community should prepare for the presence of media. On-site management is to direct all questions to the police department firstly and secondly to the Regional Vice President and Vice President. <b>  All appropriate parties in the Corporate Office must be notified IMMEDIATELY by both phone and email. </b> All residents should be notified via letter of the event(s) at the cessation of the police investigation. </li>

                                <li>
                                    <span class="romnum">
                                        v. </span>	EVENT OF FIRE:
                                        <ul>
                                            <li> 1.	Call Fire Department </li>
                                            <li>2.	Locate the extinguisher and survey the affected area(s) </li>
                                            <li> 3.	Confirm all residents have vacated the building(s) </li>
                                            <li> 4.	Direct all residents to a safe zone </li>
                                            <li> 5.	Vacant units available should be appointed to the displaced residents</li>
                                            <li> 6.	Parties to alert: Regional Manager, Regional Vice President, Vice President Investments and Investments Analyst </li>
                                            <li> 7.	Follow protocol as previously instructed above </li>
                                            <li>8.	Call local Red Cross Chapter if the community is completely devastated and/or there are no available units to accommodate the stranded residents</li>
                                        </ul>
                                </li>
                                <li>
                                    <span class="romnum">
                                        vi. </span>	EVENT OF ACCIDENT:
                                        <ul>
                                            <li>  1.	Notify the proper authorities </li>
                                            <li>
                                                2.	Victim(s) should not be moved unless in perilous position(s)
                                            </li>
                                            <li>
                                                3.	NO statements regarding any liability should be made
                                            </li>
                                            <li>
                                                4.	The affected area should be secured to prevent any further accidents pending an insurance investigation
                                            </li>
                                            <li>
                                                5.	Follow protocol as previously instructed above
                                            </li>
                                            <li>
                                                6.	Notify residents to avoid the affected area(s)
                                            </li>

                                        </ul>

                                </li>


                                <li>

                                    <span class="romnum">
                                        vii. </span>	EVENT OF VANDALISM: <ul>
                                            <li>
                                                1.	Notify the police
                                            </li>
                                            <li> 2.	Follow protocol as previously instructed above </li>
                                            <li>
                                                3.	Obtain copy of report at first opportunity
                                            </li>
                                            <li>
                                                4.	Make arrangements for damage to be repaired promptly
                                            </li>
                                            <li>
                                                5.	Request that police check and/or patrol the community on a recurring basis
                                            </li>
                                        </ul>

                                </li>

                                <li>
                                    <span class="romnum">
                                        viii. </span>	EVENT OF RAPE OR ASSAULT:
                                        <ul>
                                            <li>
                                                1.	Encourage victims to inform police
                                            </li>
                                            <li>
                                                2.	Damages should be refurbished quickly, additional lighting should be installed if deemed necessary
                                            </li>
                                            <li>
                                                3.	The victim is to be granted a penalty free termination if requested
                                            </li>
                                            <li>
                                                4.	For situations such as murder, rape or attempted rape where the culprit has not been detained, a letter should be issued to notify all residents with the suggestion to practice safety precautions
                                            </li>
                                            <li>
                                                5.	Follow protocol as previously instructed above
                                            </li>
                                        </ul>



                                </li>

                            </ul>

                            <p> RESIDENTS SHOULD RECEIVE NOTICE OF EVENTS INVOLVING POTENTIAL HARM TO WELL BEING. KEEPING THE RESIDENTS AWARE OF SAFETY CONCERNS IS OUR RESPONSIBILITY!  </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content ">
            <h2 id="property"></h2>
            @*<img src="img/zender_logo.png" class="img-responsive">*@
            <p class="small description">
                @*There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                    even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing*@
            </p>
            @*<p class="small font-bold">
                    <span><i class="fa fa-circle text-warning"></i> High priority</span>
                </p>*@


            <ul class="list-unstyled PropDetails"></ul>
            @*<div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Add files</a>
                    <a href="#" class="btn btn-xs btn-primary">Report contact</a>

                </div>*@
        </div>
    </div>

   
</div>




@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p> You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in. </p>

}

@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p> An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in. </p>
}
