@{
    ViewBag.Title = "Carroll ";
}
<input type="hidden" id="pageid" value="home" />

<div class="wrapper wrapper-content" style="padding-top:0px !important">
    <div class="row hidewhenformopen">
        <div class="col-md-12 ipbackground" style="background-image: url(/img/bg2.JPG); padding-bottom:47%;">
            @*<h1 class="homeheading visible-lg visible-md visible-sm" style="font-size: 105px !important;display:none !important"> <span style="font-weight:bolder;"> CARROLL </span> <span style="font-size:150px;"> | </span>  <span> FORMS </span>  </h1>
            <h1 class="homeheading visible-xs" style="position: absolute !important;
    margin-top: 105px !important;
    font-size: 25px !important;
    color: white !important;
    text-align: center !important;
    padding-left: 5% !important;">
                <span style="font-weight:bolder;"> CARROLL </span> <span style="font-size:30px;"> | </span>  <span> FORMS </span>
            </h1>*@

        </div>
        <div class="col-xs-12 visible-xs mobile-menu-dashboard visible-sm" style="margin-top:-40px;">
            <div class="col-xs-6 ">
                <a href="~/Home/Index" style="color:white;"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </div>   <div class="col-xs-6">
                <a href="/Data/contacts" style="color:white;"><i class="fa fa-envelope fa-star fa-user-"></i> <span class="nav-label">Contacts</span></a>
            </div>   <div class="col-xs-6">
                <a style="color:white;" href="/Data/properties"><i class="fa fa-building"></i> <span class="nav-label">Properties</span></a>
            </div>   <div class="col-xs-6">
                <a href="/Data/partners" style="color:white;"><i class="fa fa-users"></i> <span class="nav-label">Equity Partners</span></a>
            </div>   <div class="col-xs-6">
                <a style="color:white;" href="~/Home/IncidentDashboard"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Incident Dashboard</span></a>
            </div>


        </div>
    </div>
</div>

@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}

@section Styles
    {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")

    <style type="text/css">

        .wrapper-content {
            padding: 0px 0px 0px !important;
            margin-top: -1px;
        }


        .dtprops td, .dtprops th {
            white-space: nowrap;
        }


        @@media only screen and (max-width : 480px) {

            .navbar-header {
                display: none !important;
            }
        }

        @@media only screen and (min-width: 320px) {

            .ipbackground h1 {
                position: absolute !important;
                margin-top: 100px !important;
                font-size: 26px !important;
                color: white !important;
                text-align: center !important;
                padding-left: 2% !important;
            }
        }



    </style>
}

@section ipadstyles
{

    <style type="text/css">


        /* iPads (landscape) ----------- */
        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) 
        {
            .ipbackground {
               min-height:465px !important;
                height: 465px !important;
            }

            .homeheading, .homeheading span {
                font-size: 50px !important;
            }

            .ipbackground h1 
            {
                margin-top:150px !important;
            }
        }


        /* iPads (portrait) ----------- */
        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) 
        {

            .ipbackground {
                min-height: 350px !important;
                padding-top: 100px !important;
            }

            .homeheading, .homeheading span {
                font-size: 50px !important;
            }

            .ipbackground h1 
            {
                margin-top:0px !important;
            }

            .navbar-right 
            {
                margin-right:0px !important;            
            }

            .mobile-menu-dashboard {
                margin-top: 0px !important;
                margin-bottom: 400px !important;
            }

                .mobile-menu-dashboard div {
                    padding: 5px;
                    background-color: #293846;
                    color: white !important;
                    text-align: center;
                    font-size: 25px;
                    font-weight: normal;
                    margin: 10px;
                    width: 80%;
                    padding: 15px;
                    margin-left:10% !important;
                   
                }

                .footer{
                    margin-bottom:400px !important;
                }

            /* Styles */
        }
    </style>

}

@section Scripts
{

    <script>




        $(document).ready(function () {

            $("#helpid").hide();


        });



    </script>

}

