@{
    ViewBag.Title = "Carroll Portals";
}

<div class="wrapper wrapper-content" style="padding-top:0px !important">
    <div class="row hidewhenformopen">
        <div class="col-md-12 ipbackground" style="background-image: url(/img/bg.jpg);
    height: auto;
    background-position: center;
    width: 100%;min-height: 589px !important;
    background-size: cover;">
            <h1 style="margin-top: 300px;
    font-size: 100px;
    color: white;
    font-weight: bold;text-align:center;"> CARROLL PORTALS </h1>

        </div>
    </div>
</div>



@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in.</p>

}
@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p>An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in.</p>
}

@section Styles 
    {
    @Styles.Render("~/content/plugins/dataTables/dataTablesStylescss")
    @Styles.Render("~/content/plugins/token-inputcss")

    <style type="text/css">


        .dtprops td, .dtprops th 
        {
            white-space: nowrap;
        }

        

    </style>
}

@section Scripts
{

    <script>

      


        $(document).ready(function () {

            $("#helpid").hide();                


        });

      

</script>

}

