@model Carroll.Portals.Models.BaseViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Print Claim  </title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <style type="text/css">

        body {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #555555;
            font-size: 13px;
        }

        input {
            border: none;
            border-bottom: 1px solid #0c0606;
            padding: 5px;
        }
    </style>

    <link href="/Content/a4css.css" rel="stylesheet" />

</head>
<body class="document">
    <div class="page">
       
    </div>
</body>
</html>


