@{
    ViewBag.Title = "View Claim ";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h1 id="heading"> Property Damage Claim </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index"> Home </a>
            </li>
            <li class="breadcrumb-item active">
                <strong> Claim details </strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                @*<a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>
                                <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>*@
                                <h2 class="propertyName"></h2>
                            </div>
                            <h5>Report Details:</h5>
                            @*<dl class="dl-horizontal">
                                <dt>Details:</dt>
                                <dd><span class="claimDesc"></span></dd>
                                <dt>Location:</dt>
                                <dd><span class="location"></span></dd>
                                <dt>Created By:</dt>
                                <dd><span class="createdBy"></span></dd>
                                <dt>Created Date:</dt>
                                <dd><span class="createdDate"></span></dd>
                            </dl>*@
                           
                        </div>
                    </div>
                    @*<div class="row">
        <div class="col-lg-5">
            <table class="table-hover table-responsive table-striped"
        </div>
        </div>*@
                  
                    <div class="row ">
                        <div class="col-lg-12" id="claimbody">
                            <p style="text-align:center"> Loading Claim Details ................................. </p>
                        </div>
                    </div>



                    <div class="row m-t-sm" id="comm-att" style="display:none;">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a class="nav-link active" href="#tab-2" data-toggle="tab">Comments</a></li>
                                            <li><a class="nav-link" href="#tab-1" data-toggle="tab">Attachments</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-2">

                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <h3>New Comment </h3>

                                                <div class="form-group">

                                                    <textarea class="form-control" id="txtcomment" placeholder="Write Your Comment" rows="3"></textarea>
                                                </div>
                                                <button class="btn btn-primary btn-block pull-right" id="btnAddComment" style="max-width:150px;">Send</button>
                                                <br /><br />
                                                <div class="feed-activity-list">

                                                </div>
                                                @*<table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th>Comment</th>
                                                <th>Date</th>

                                            </tr>
                                        </thead>
                                        <tbody id="commentbody">

                                        </tbody>
                                    </table>*@
                                            </div>


                                        </div>
                                        <div class="tab-pane" id="tab-1">
                                            <div class="col-md-12 col-sm-12 col-lg-12 clear">
                                                <div class="form-group">
                                                    <label> Upload Attachments </label> <br />
                                                    <div class="custom-file">
                                                        <input id="logo" type="file" class="custom-file-input">
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary btn-sm pull-left " id="btnUpload" style="max-width:150px;">Upload</button>

                                                <br /><br />
                                                <table class="table table-striped col-md-6">
                                                    <thead>
                                                        <tr>
                                                            <th>File</th>
                                                            <th>Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="attachmentbody"></tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="wrapper wrapper-content ">
            <h2 id="property"></h2>
            @*<img src="img/zender_logo.png" class="img-responsive">*@
            <p class="small description">
                @*There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                    even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing*@
            </p>
            @*<p class="small font-bold">
                    <span><i class="fa fa-circle text-warning"></i> High priority</span>
                </p>*@


            <ul class="list-unstyled PropDetails"></ul>
            @*<div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Add files</a>
                    <a href="#" class="btn btn-xs btn-primary">Report contact</a>

                </div>*@
        </div>
    </div>
    
    <input type="hidden" id="claim" value="" />
    <input type="hidden" id="type" value="" />
</div>




@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p> You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in. </p>

}

@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p> An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in. </p>
}

@section Styles
{


}

@section Scripts
{
    <script>

        $(document).ready(function () {
            LoadClaim();
            $('.custom-file-input').on('change', function () {
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });



        });

    </script>
    <style>
        .table td,
        .table th {
            text-align: right;
           
        }

            #right,
            .table td + td,
            .table th + th {
                text-align: left;
            }
        .table > *:first-child:not(thead) td:first-child {
            font-weight: bold;
        }
        .table{
            max-width:90%;
            margin-left:5%;
        }
    </style>
}

