@{
    ViewBag.Title = "View Claim ";
}

@section Styles 
{

    <style>
        table th, table td {
            text-align:left !important;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h1 id="heading"> </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index"> Home </a>

            </li>
            <li class="breadcrumb-item active">
                <strong> Claim details </strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                @*<a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>
                                    <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>*@
                                <h2 class="propertyName"></h2>

                                <b> Claim Number : <span id="claimnumber"></span> </b>
                                <ul class="list-unstyled PropDetails pd-top" style="padding-left:15px;"></ul>
                            </div>
                            <h5>Report Details:</h5>

                            @*<dl class="dl-horizontal">
                                    <dt>Details:</dt>
                                    <dd><span class="claimDesc"></span></dd>
                                    <dt>Location:</dt>
                                    <dd><span class="location"></span></dd>
                                    <dt>Created By:</dt>
                                    <dd><span class="createdBy"></span></dd>
                                    <dt>Created Date:</dt>
                                    <dd><span class="createdDate"></span></dd>
                                </dl>*@
                            <a class="btn btn-success pull-right clss" href="/Home/PrintClaim/?claim=num&Type=" target="_blank" style="margin-top:-115px;margin-right:5px;" id="printclaim"> Print Claim </a>

                            <a class="btn btn-success pull-right clss" href="/Home/ExportClaim/?claim=num&Type=" style="margin-top:-75px;" id="exportclaim"> Export Claim </a>

                            <a class="btn btn-success pull-right clss" data-toggle="modal" data-target="#exampleModalCenter" id="viewpropertydetails" href="#" style="margin-top: -35px;
    margin-right: -22px;
    margin-bottom: 10px;display:none ">View Property Details</a>

                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-lg-5">
                            <table class="table-hover table-responsive table-striped"
                        </div>
                        </div>*@

                    <div class="row ">
                        <div class="col-lg-12" id="claimbody">
                            <p style="text-align:center"> Loading Claim Details ................................. </p>
                        </div>
                    </div>



                    <div class="row m-t-sm" id="comm-att" style="display:none;">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a class="nav-link active" href="#tab-2" data-toggle="tab">Comments</a></li>
                                            <li><a class="nav-link" href="#tab-1" data-toggle="tab">Attachments</a></li>
                                            <li><a class="nav-link" href="#tab-3" data-toggle="tab"> Activity </a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-2">

                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <h3>New Comment </h3>

                                                <div class="form-group">

                                                    <textarea class="form-control" id="txtcomment" placeholder="Write Your Comment" rows="3"></textarea>
                                                </div>
                                                <button class="btn btn-primary btn-block pull-right" id="btnAddComment" style="max-width:150px;">Send</button>
                                                <br /><br />
                                                <div class="feed-activity-list">

                                                </div>
                                                @*<table class="table table-striped">
                                                        <thead>
                                                            <tr>

                                                                <th>Comment</th>
                                                                <th>Date</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="commentbody">

                                                        </tbody>
                                                    </table>*@
                                            </div>


                                        </div>
                                        <div class="tab-pane" id="tab-1">
                                            <div class="col-md-12 col-sm-12 col-lg-12 clear">
                                                <div class="form-group">
                                                    <label> Upload Attachments </label> <br />
                                                    <div class="custom-file">
                                                        <input id="logo" type="file" multiple class="custom-file-input">
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary btn-sm pull-left " id="btnUpload" style="max-width:150px;">Upload</button>

                                                <br /><br />
                                                <table class="table table-striped col-md-6">
                                                    <thead>
                                                        <tr>
                                                            <th style="float:left;">File</th>
                                                            <th>Date</th>
                                                            <th>Created By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="attachmentbody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-3">
                                            <div class="col-md-12 col-sm-12 col-lg-12 clear">
                                                @*<h3> Activity </h3>*@
                                                <table class="table table-striped col-md-6">
                                                    <thead>
                                                        <tr>
                                                            <th style="float:left;">Description</th>
                                                            <th>Date</th>
                                                            <th> Status </th>
                                                            <th> Created By </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="activitybody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg uploadsummary" id="uploadsummary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" style="width:60%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title" style="font-weight:bold;text-align: center;
    color: black;" id="gridSystemModalLabel">
                        Summary: Uploaded Files
                    </h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center">

                            <table class="table table-bordered table-condensed">
                                <thead> <tr><th> Sno </th><th>  FileName </th><th> Size(MB) </th></tr> </thead>
                                <tbody  id="filebodysummary"> </tbody>
                            </table>


                            <h3> Are you sure, do you want to Upload files? </h3>

                            <button class="btn btn-success " style="margin-left: 75px;
    margin-top: 10px;" id="btnuploadyesfromsummary" >
                               Yes
                            </button>

                            <button class="btn btn-danger " style="margin-left: 75px;
    margin-top: 10px;" id="btnuploadnofromsummary" >
                              No
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="modal-title" id="property"></h2>
                    <ul class="list-unstyled PropDetails pd-bottom col-md-6" id="details11" style="display:inline-block !important"></ul>
                    <ul class="list-unstyled PropDetails1 pd-bottom col-md-6" style="display:inline-block !important"></ul>

                </div>
                <div class="modal-footer" style="border:none !important">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 visible-lg">
        <div class="wrapper wrapper-content ">

            <h2 id="property"></h2>
            @*<b> Claim Number : <span id="claimnumber"></span> </b>*@

            @*<img src="img/zender_logo.png" class="img-responsive">*@
            <p class="small description">
                @*There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
                    even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing*@
            </p>
            @*<p class="small font-bold">
                    <span><i class="fa fa-circle text-warning"></i> High priority</span>
                </p>*@


            <ul class="list-unstyled PropDetails pd-bottom"></ul>
            @*<b> Claim Number : <span id="claimnumber"></span> </b>*@

            @*<img src="img/zender_logo.png" class="img-responsive">*@

            @*<p class="small font-bold">
                    <span><i class="fa fa-circle text-warning"></i> High priority</span>
                </p>*@



            @*<div class="text-center m-t-md">
                    <a href="#" class="btn btn-xs btn-primary">Add files</a>
                    <a href="#" class="btn btn-xs btn-primary">Report contact</a>

                </div>*@
        </div>
    </div>

    <input type="hidden" id="claim" value="" />
    <input type="hidden" id="type" value="" />
</div>




@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p> You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Form", new { reauth = true }, null) to sign-in. </p>

}

@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p> An unexpected error occurred while retrieving your to do list.  Please try again.  You may need to sign-in. </p>
}

@section Scripts
{
    <script>

        $(document).ready(function () {
            LoadClaim();
            $('.custom-file-input').on('change', function () {
                //let fileName = $(this).val().split('\\').pop();
                //$(this).next('.custom-file-label').addClass("selected").html(fileName);
                //form html and open popup

                var htmlbody = "";

                // GET THE FILE INPUT.
                var fi = document.getElementById('logo');

                // VALIDATE OR CHECK IF ANY FILE IS SELECTED.
                if (fi.files.length > 0) {

                    // THE TOTAL FILE COUNT.
                 $(this).next('.custom-file-label').addClass("selected").html('Total Files: <b>' + fi.files.length + '</b></br >');

                    // RUN A LOOP TO CHECK EACH SELECTED FILE.
                    for (var i = 0; i <= fi.files.length - 1; i++) {

                        var fname = fi.files.item(i).name;      // THE NAME OF THE FILE.
                        var fsize = fi.files.item(i).size/1000000;      // THE SIZE OF THE FILE.
                        htmlbody += "<tr><td>" + (i + 1) + " </td><td> " + fname + " </td><td> " + fsize.toFixed(2)+" </td> </tr>";
                    }
                }
                else
                {
                    alert('Please select a file.');
                }

                $('#uploadsummary').modal({
                    backdrop: 'static',
                    keyboard: false
                }, 'show');

                $("#filebodysummary").html(htmlbody)
            });


            $("#btnuploadyesfromsummary").click(function ()
            {           
                $("#btnUpload").click();
                $('#uploadsummary').modal('hide');
                $("#filebodysummary").html("");

            });


            $("#btnuploadnofromsummary").click(function ()
            {
                $('#uploadsummary').modal('hide');
                $("#filebodysummary").html("");
                $("#logo").val('');
            });


        });

    </script>
    <style>
        .table td,
        .table th {
            text-align: right;
        }

            #right,
            .table td + td,
            .table th + th {
                text-align: left;
            }

        .table > *:first-child:not(thead) td:first-child {
            font-weight: bold;
        }

        .table {
            max-width: 90%;
            margin-left: 5%;
        }

        @@media only screen and (max-width : 768px)
        {
            #printclaim, .pd-bottom
            {
                display: none !important;
            }

            .pd-top {
                display: block !important;
            }

            .nav-tabs > li > a {
                padding: 7px 7px 7px 7px !important;
            }


        }

        @@media only screen and (min-width : 768px)
        {
            #printclaim,.pd-bottom {
                display: block !important;
            }
            .pd-top
            {
                display:none !important;
            }
        }
        @@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape)
        {
            #property
            {
                margin-top:20px !important;
            }
            #exportclaim, #printclaim {
                display: none !important;
            }

            #viewpropertydetails {
                display: block !important;
            }


            #exampleModalCenter .modal-title {
                border-bottom: 1px solid #ddd;
                width: 110%;
                text-align: left;
                margin-left: -5%;
                padding-left: 10%;
            }

            #details11 {
                width: 45% !important;
                float: left;
                margin-top: 18px !important;
            }
            
        }


@@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)
{
           #exportclaim, #printclaim 
           {
                display: none !important;
            }

        #viewpropertydetails
        {
            display:block !important;
        }


        #exampleModalCenter .modal-title {
            border-bottom: 1px solid #ddd;
            width: 114%;
            text-align: left;
            margin-left: -7%;
            padding-left: 10%;
        }


        #details11 {
            width: 45% !important;
            float: left;
            margin-top: 18px !important;
        }
        }
    </style>
}

